# config.properties should be placed in /local/cxf-server/conf/

#jdbc settings
database.url        = jdbc:mysql://localhost/test
database.driver     = com.mysql.jdbc.Driver
database.user       = test
database.password   = test

#ldap settings
ldap.serverro 		= ldap://ldap-test.su.se
ldap.serverrw		= ldap://sukat-test-ldaprw02.it.su.se

#keystore for ssl
ssl.port			= 443
ssl.keystore		= cxf-svc-server.keystore
ssl.password		= changeit

# spnego settings
spnego.properties	= spnego.properties
spnego.realm		= SU.SE

# EhCache settings
ehcache.timetoidleseconds     = 133
ehcache.timetoliveseconds     = 133
ehcache.maxentrieslocalheap = 13377
ehcache.maxelementsondisk     = 1133777
ehcache.overflowToDisk        = false

